.impimg {
  width: 400px;
  height: 300px;
  border: solid 5px red;
}

.imph1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  margin: 20px 30px;
}

p {
  background-color: darkgray;
  width: 40%;
  height: 50%;
  display: -moz-grid-line;
}
